# NERIS API
NERIS_BASE_URL=https://api-test.neris.fsri.org/v1
NERIS_GRANT_TYPE=client_credentials
NERIS_CLIENT_ID=your_client_id
NERIS_CLIENT_SECRET=your_client_secret

# Anthropic
ANTHROPIC_API_KEY=your_anthropic_api_key
